body{
	background: black;
	color: white;
}
#car1{
	width: 1500px;
	height: 600px;

}




















/*
#HAPPYKIDDO{	
	margin-top:10px;

	
}
#con3{
border: 1px solid #8c8c8c;
width: 800px;


}
*#con2{
border: 1px solid #8c8c8c;
width: 95%;
}

#custLogInForm{
	width: 350px;
	height: 35px;
	
	margin-top:10px;
margin-right:20px; 	
	margin-bottom: 1px;
}
#cusLogbut{
	/*margin-bottom : 18px;*/
/*	margin-left: 2px;
	height: 25px;
	font-size: 15px
}
#customEmail{
	height: 23px;
}
#customPass{
	height: 23px;
}*//*/